body {  
    /* background: #1D1F20; */
    padding: 16px;
  }
  
  canvas {
    border: 1px solid rgb(228, 134, 134);
  }
  
  .chart-container {
    position: relative;
    margin: auto;
    height: 50vh;
    width: 80vw;
  }