# Scientific computing packages
pandas
numpy

# Plotting packages
matplotlib
plotly

# Web framework
streamlit
requests

# ML library
torch

# NLP model library
transformers

# Scientific Computing
scikit-learn